<!-- <ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>

  <li><a routerLink="ado-vault.backup">AdoVaultBackup</a></li>
<li><a routerLink='ado-vault.company'>AdoVaultCompany</a></li>
<li><a routerLink='ado-vault.entity'>AdoVaultEntity</a></li>
<li><a routerLink='ado-vault.integration'>AdoVaultIntegration</a></li>
<li><a routerLink='ado-vault.user-management'>AdoVaultUserManagement</a></li>
<li><a routerLink='ado-vault.report'>AdoVaultReport</a></li>
<li><a routerLink='ado-vault.restore'>AdoVaultRestore</a></li>
<li><a routerLink='ado-vault.role'>AdoVaultRole</a></li>
<li><a routerLink='ado-vault.storage'>AdoVaultStorage</a></li>
<li><a routerLink='ado-vault.notification'>AdoVaultNotification</a></li>
</ul> -->

<!-- <ado-bcp-ui-sidebar></ado-bcp-ui-sidebar>
<ado-bcp-ui-header></ado-bcp-ui-header> -->
<router-outlet></router-outlet>
